*{
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;

}

/* Header Styles */

#headerContainer > h1{
    font-size: xx-large;
    font-weight: bold;
    color: aqua;
    text-align: center;
    background-color: black;
    
}

#headerContainer > small{
    font-size: medium;
    font-weight: lighter;
    color: turquoise;
    background-color: black;
}

#headerContainer{
    margin: 20px;
    box-shadow:3px 5px rgba(78, 212, 230, 0.514);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: black;

}

#formContainer{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px  10px rgba(78, 212, 230, 0.514);
    color: aqua;
    text-align: center;
    background-color: black;


}
